<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.easyfun.eclipse.performance.other.memcached.MemcachedView"
            icon="icons/memcache.png"
            id="com.easyfun.eclipse.performance.other.view.MemcachedView"
            name="Memcached">
      </view>
   </extension>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorElement">
      <page
            folder="com.easyfun.eclipse.performance.otherFolder"
            icon="icons/memcache.png"
            id="com.easyfun.eclipse.performance.other.item.MemcachedView"
            title="Memcached"
            type="Memcached"
            viewId="com.easyfun.eclipse.performance.other.view.MemcachedView"
            visible="true"></page>
   </extension>
</plugin>
