<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorFolder">
      <folder
            id="com.easyfun.eclipse.performance.threaddumpFolder"
            title="ThreadDump"
            type="ThreadDump"
            visible="true">
      </folder>
   </extension>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorElement">
      <page
            compositeClass="com.easyfun.eclipse.performance.threaddump.ThreadDumpComposite"
            folder="com.easyfun.eclipse.performance.threaddumpFolder"
            icon="icons/thread_ob.gif"
            id="com.easyfun.eclipse.component.threaddump.threadDump"
            itemHelper="com.easyfun.eclipse.performance.threaddump.ThreadDumpItemHelper"
            title="ThreadDump"
            type="ThreadDump"
            visible="true">
      </page>
   </extension>
</plugin>
