<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      <extension
         point="org.eclipse.ui.views">
         <view
            class="com.easyfun.eclipse.performance.mysql.analyze.ui.MySQLView"
            icon="icons/mysql.png"
            id="com.easyfun.eclipse.performance.mysql.view.MySQLView"
            name="MySQL表统计">
      </view>
      </extension>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorFolder">
      <folder
            id="com.easyfun.eclipse.performance.mysql.mysqlFolder"
            title="MySQL"
            type="MySQL"
            visible="true">
      </folder>
   </extension>
   
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorElement">
      <page
            folder="com.easyfun.eclipse.performance.mysql.mysqlFolder"
            icon="icons/mysql.png"
            id="com.easyfun.eclipse.performance.mysql.item.MySQLView"
            title="MySQL表统计"
            type="MySQL"
            viewId="com.easyfun.eclipse.performance.mysql.view.MySQLView"
            visible="true">
      </page>
   </extension>

</plugin>
