<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorElement">
      <page
            folder="com.easyfun.eclipse.performance.otherFolder"
            icon="icons/http.png"
            id="com.easyfun.eclipse.performance.item.HttpViewPart"
            title="HTTP Client"
            type="HTTP"
            viewId="com.easyfun.eclipse.performance.view.HttpClientView"
            visible="true">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.easyfun.eclipse.utils.views.category"
            class="com.easyfun.eclipse.performance.http.views.HttpClientView"
            icon="icons/http.png"
            id="com.easyfun.eclipse.performance.view.HttpClientView"
            name="HTTP Client">
      </view>
   </extension>
</plugin>
