<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.easyfun.eclipse.performance.awr.preferences.AwrPrefInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.easyfun.eclipse.performance.preferences.Oracle"
            class="com.easyfun.eclipse.performance.awr.preferences.AwrJDBCPreferencePage"
            id="com.easyfun.eclipse.performance.preferences.awr.AwrJDBC"
            name="JDBC(AWR)">
      </page>      
   </extension>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorFolder">
      <folder
            id="com.easyfun.eclipse.performance.oracleFolder"
            title="Oracle"
            type="Oracle"
            visible="true">
      </folder>
   </extension>
      <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorElement">
             <page
                   folder="com.easyfun.eclipse.performance.oracleFolder"
                   icon="icons/awr.gif"
                   id="com.easyfun.eclipse.component.awr.item.oracleAWRComposite"
                   title="AWR"
                   type="awr"
                   viewId="com.easyfun.eclipse.performance.awr.views.AWRView"
                   visible="true">
      </page>
    </extension>
      <extension
            point="org.eclipse.ui.views">
         <view
               class="com.easyfun.eclipse.performance.awr.item.AWRView"
               icon="icons/awr.gif"
               id="com.easyfun.eclipse.performance.awr.views.AWRView"
               name="AWR"
               restorable="true">
         </view>
      </extension>
</plugin>
