<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorFolder">
      <folder
            id="com.easyfun.eclipse.performance.oracleFolder"
            title="Oracle"
            type="Oracle"
            visible="true">
      </folder>
   </extension>
      <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorElement">
             <page
                   folder="com.easyfun.eclipse.performance.oracleFolder"
                   icon="icons/awr.gif"
                   id="com.easyfun.eclipse.performance.awr.items.AWRView"
                   title="AWR"
                   type="awr"
                   viewId="com.easyfun.eclipse.performance.awr.view.AWRView"
                   visible="true">
      </page>
    </extension>
      <extension
            point="org.eclipse.ui.views">
         <view
               class="com.easyfun.eclipse.performance.awr.item.AWRView"
               icon="icons/awr.gif"
               id="com.easyfun.eclipse.performance.awr.view.AWRView"
               name="AWR"
               restorable="true">
         </view>
      </extension>
</plugin>
