<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorFolder">
      <folder
            id="com.easyfun.eclipse.performance.appframeFolder"
            title="AppFrame"
            type="AppFrame"
            visible="true">
      </folder>
      <folder
            folder="com.easyfun.eclipse.performance.appframeFolder"
            id="com.easyfun.eclipse.performance.monitorFolder"
            title="Monitor"
            visible="true">
      </folder>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.easyfun.eclipse.utils.views.category"
            class="com.easyfun.eclipse.performance.appframe.webtool.views.WebToolsView"
            icon="icons/appframe.ico"
            id="com.easyfun.eclipse.performance.appframe.view.WebToolView"
            name="WebTool">
      </view>
      <view
            category="com.easyfun.eclipse.utils.views.category"
            class="com.easyfun.eclipse.performance.appframe.monitor.AWRBrowserlView"
            icon="icons/monitor/browser.png"
            id="com.easyfun.eclipse.performance.appframe.view.AWRBrowserlView"
            name="AWR Browser"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorElement">
      <page
            folder="com.easyfun.eclipse.performance.appframeFolder"
            icon="icons/appframe.ico"
            id="com.easyfun.eclipse.performance.appframe.items.WebToolView"
            title="WebTool"
            type="AppFrame"
            viewId="com.easyfun.eclipse.performance.appframe.view.WebToolView"
            visible="true"></page>
      <page
            folder="com.easyfun.eclipse.performance.monitorFolder"
            icon="icons/monitor/browser.png"
            id="com.easyfun.eclipse.performance.appframe.view.AWRBrowserlView"
            title="AWR Browser"
            type="AppFrame"
            viewId="com.easyfun.eclipse.performance.appframe.view.AWRBrowserlView"
            visible="true">
      </page>
   </extension>

</plugin>
