<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      <extension
         point="org.eclipse.ui.views">
         <view
            class="com.easyfun.eclipse.performance.oracle.OracleTableView"
            icon="icons/table.png"
            id="com.easyfun.eclipse.performance.oracle.views.OracleTableView"
            name="Oracle表统计">
      </view>
      </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.easyfun.eclipse.performance.oracle.preferences.OraclePrefInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.easyfun.eclipse.performance.preferencePages.Oracle"
            class="com.easyfun.eclipse.performance.oracle.preferences.OracleJDBCPreferencePage"
            id="com.easyfun.eclipse.performance.oracle.preferencePages.OracleJDBC"
            name="Oracle表统计">
      </page>
      <page
            category="com.easyfun.eclipse.performance.preferencePages.Oracle"
            class="com.easyfun.eclipse.performance.oracle.preferences.OracleTableFilterPreferencePage"
            id="com.easyfun.eclipse.performance.oracle.preferencePages.OracleTableFilter"
            name="Oracle表名过滤器">
      </page>      
   </extension>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorFolder">
      <folder
            id="com.easyfun.eclipse.performance.oracleFolder"
            title="Oracle"
            type="Oracle"
            visible="true">
      </folder>
   </extension>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorElement">
      <page
            folder="com.easyfun.eclipse.performance.oracleFolder"
            icon="icons/table.png"
            id="com.easyfun.eclipse.component.oracle.item.tableAnalyzeComposite"
            title="Oracle表统计"
            type="Oracle"
            viewId="com.easyfun.eclipse.performance.oracle.views.OracleTableView"
            visible="true">
      </page>
   </extension>
</plugin>
