<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      <extension
         point="org.eclipse.ui.views">
         <view
            class="com.easyfun.eclipse.performance.oracle.OracleTableView"
            icon="icons/table.png"
            id="com.easyfun.eclipse.performance.oracle.view.OracleTableView"
            name="Oracle表统计">
      </view>
      </extension>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorFolder">
      <folder
            id="com.easyfun.eclipse.performance.oracleFolder"
            title="Oracle"
            type="Oracle"
            visible="true">
      </folder>
   </extension>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorElement">
      <page
            folder="com.easyfun.eclipse.performance.oracleFolder"
            icon="icons/table.png"
            id="com.easyfun.eclipse.performance.oracle.item.OracleTableView"
            title="Oracle表统计"
            type="Oracle"
            viewId="com.easyfun.eclipse.performance.oracle.view.OracleTableView"
            visible="true">
      </page>
   </extension>
</plugin>
