<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorFolder">
      <folder
            id="com.easyfun.eclipse.performance.appframeFolder"
            title="AppFrame"
            type="AppFrame"
            visible="true">
      </folder>
   </extension>
   <extension
         point="com.easyfun.eclipse.performance.EasyFunNavigatorElement">
      <page
            folder="com.easyfun.eclipse.performance.appframeFolder"
            icon="icons/trace.png"
            id="com.easyfun.eclipse.component.trace.item.traceComposite"
            title="TRACE"
            type="trace"
            viewId="com.easyfun.eclipse.performance.trace.traceview"
            visible="true">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.easyfun.eclipse.utils.views.category"
            class="com.easyfun.eclipse.performance.trace.item.TraceView"
            icon="icons/trace.png"
            id="com.easyfun.eclipse.performance.trace.traceview"
            name="TRACE"
            restorable="true">
      </view>
   </extension>
</plugin>
